footer{
    background-color: #0f3460;
    padding: 60px 0px;
    color: #fff;
}
.main-foot .name-page{
    margin-left: 20px;
    color: #e94560;
    font-size: 38px;
    font-style: italic;
}
.main-foot .text-main{
    margin-top: 20px;
    opacity: 0.5;
    font-size: 13px;
}
.main-foot .download{
    margin-top: 20px;
    gap: 30px;

}
.download .icon-dl{
    background-color: #0c2a4d;
    padding: 15px 20px;
    border-radius: 5px;
}
.icon-dl span{
    margin-left: 5px;
}
footer .box ul{
    margin-top: 20px;
}
footer .box ul li{
    margin-top: 12px;
    opacity: 0.5;
}